/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  margin: 0px;
}

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200PX;
  }
}

:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --global-white-color:#ffffff;
  --address-color: rgba(255, 255, 255, 0.5);
  --logo-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  display: block;
  color: var(--title-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header .header__link:focus {
  color: var(--accent-color);
}
.header__link--current {
  color: var(--accent-color);
}
.header__email, .header .header__tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__email {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tel {
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__main-menu {
  display: none;
}
@media (min-width: 767px) {
  .header__main-menu {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__main-menu {
    margin-left: 93px;
  }
}
.header__main-menu-list {
  display: flex;
  gap: 50px;
}
.header__main-menu-address {
  display: none;
}
@media (min-width: 767px) {
  .header__main-menu-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 97px;
  }
}
@media screen and (min-width: 1200px) {
  .header__main-menu-address {
    margin-left: 318px;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
.header__main-menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__main-menu-link:hover, .header__main-menu-link:focus {
  color: var(--accent-color);
}
.header__main-menu-link--current {
  position: relative;
  color: var(--accent-color);
}
.header__main-menu-link--current::after {
  position: absolute;
  bottom: -1%;
  left: 0%;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header__main-menu-email, .header__main-menu-tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__main-menu-email-icon {
  width: 14px;
  height: 10px;
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header__main-menu-email-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}
.header__main-menu-tel-icon {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header__main-menu-tel-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
.header__mobile-menu-button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
@media (min-width: 767px) {
  .header__mobile-menu-button {
    display: none;
  }
}
.header__mobile-menu-button .header__icon-mobile-cross {
  display: none;
}
.header__mobile-menu-button.is-open .header__icon-mobile-cross {
  display: block;
}
.header__mobile-menu-button.is-open .header__icon-mobile-menu {
  display: none;
}

.footer {
  background-color: #2F303A;
  color: var(--global-white-color);
  font-size: 14px;
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px;
  color: var(--global-white-color);
  font-family: Raleway;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 28px;
  }
}
.footer__logo-span {
  color: var(--accent-color);
}
.footer__social-block {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__social-block {
    margin-left: 70px;
  }
}
.footer__logo-address {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__logo-address {
    text-align: left;
    margin-bottom: 0px;
  }
}
.footer__item {
  text-align: center;
  margin-bottom: 8px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: left;
  }
}
.footer__flex-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .footer__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0px;
  }
}
.footer__address {
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer__location {
  margin-bottom: 9px;
  color: var(--global-white-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__location:hover, .footer__location:focus {
  color: var(--accent-color);
}
.footer__text-social {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__text-social {
    text-align: left;
  }
}
.footer__social-list {
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__social-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}
.footer__social-icon {
  fill: var(--global-white-color);
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-left: 93px;
  }
}
.footer__subscription-header {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__subscription-header {
    text-align: left;
  }
}
.footer__input {
  display: block;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  padding: 16px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0px;
  }
}
.footer__input[placeholder] {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscription-button {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  font-family: Roboto;
  background-color: var(--accent-color);
  color: var(--global-white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscription-button:hover, .footer__subscription-button:focus {
  background-color: #188CE8;
}
.footer__svg-subscription {
  fill: var(--global-white-color);
  width: 24px;
  height: 24px;
}

/*Portfolio*/
.portfolio {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__buttons {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px;
  justify-content: flex-start;
  align-items: center;
  max-width: 420px;
}
@media screen and (min-width: 768px) {
  .portfolio__buttons {
    max-width: 100%;
    justify-content: center;
  }
}
.portfolio__button {
  min-width: 64px;
  border-radius: 4px;
  border: #F5F4FA;
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:focus, .portfolio__button:hover {
  background-color: var(--accent-color);
  color: var(--global-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__button--active {
  min-width: 64px;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  color: var(--global-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}
.portfolio__button--active:focus, .portfolio__button--active:hover {
  background-color: var(--accent-color);
  color: var(--global-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: auto;
  }
}
.portfolio__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio__examples {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px) / 2);
}
.portfolio__examples .portfolio__pictures {
  display: block;
}
.portfolio__pictures {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .portfolio__pictures {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__pictures {
    width: 370px;
    height: 294px;
  }
}
.portfolio__description {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.portfolio__link {
  display: list-item;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__submenu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__submenu {
  position: relative;
  overflow: hidden;
}
.portfolio__submenu-text {
  position: absolute;
  color: var(--global-white-color);
  padding: 63px 24px;
  bottom: 0%;
  right: 0%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.portfolio__link:focus .portfolio__submenu-overlay, .portfolio__link:hover .portfolio__submenu-overlay {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  background-color: var(--global-white-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  padding-left: 40px;
  padding-top: 48px;
}
.mobile-menu.is-open {
  display: block;
}
@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__button {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
}
@media (min-width: 767px) {
  .mobile-menu__button {
    display: none;
  }
}
.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu__menu {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 306px;
}
.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}
.mobile-menu__address {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 64px;
}
.mobile-menu__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__email {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-menu__social-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.mobile-menu__social-link-name {
  font-style: normal;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu__social-links-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-links-item:nth-last-child(1) {
  border-right: none;
}

.email,
.tel {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 2;
}
.email:hover, .email:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.logo__span {
  color: var(--accent-color);
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  fill: var(--logo-color);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--global-white-color);
}/*# sourceMappingURL=portfolio.css.map */