.footer {
    background-color: #2F303A;
    color: var(--global-white-color);
    font-size: 14px;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        @media screen and (min-width: 1200px) {
            display: flex;            
            }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0px;
        color: var(--global-white-color);
        font-family: Raleway;
        font-weight: 500;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;       
        text-align: center;

        @media screen and (min-width:1200px) {
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 28px;  
        }
    } 
    
    &__logo-span {
        color: var(--accent-color);
    }
    
    &__social-block {
        text-align: center;
        margin-bottom: 60px;

        @media screen and (min-width: 767px) {
            margin-right: 74px;            
            }

          
        @media screen and (min-width: 1200px) {
            margin-left: 70px;          
            margin-right: 0px;      
            margin-bottom: 0px;
            }  
    }

    &__logo-address {
        text-align: center;
        margin-bottom: 60px;

        @media screen and (min-width: 767px) {
        margin-left: 61px;            
        }

        @media screen and (min-width: 1200px) {
            margin-left: 0px;     
            margin-bottom: 0px;
            }

    }
      
    &__item {
        text-align: center;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0px;
        }

        @media screen and (min-width:1200px) {
            text-align: left;
        }
    }
    
    &__flex-container {
        @media screen and (min-width: 767px) {
            display: flex;
            justify-content: space-between;
        }
    }
    
    &__address {
        font-style: normal;
        letter-spacing: 0.03em;
        line-height: 1.71;
    }
    
    &__location {
        margin-bottom: 9px;
        color: var(--global-white-color);
        letter-spacing: 0.03em;
        line-height: 1.71;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
     }
    
    &__text-social {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;

        @media screen and (min-width:1200px) {
            text-align: left;
        }
    }
    
    &__social-list {
        margin-left: auto;
        margin-right: auto;
        width: 206px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    &__social-link {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus
         {
            border-radius: 50%;
            background-color: var(--accent-color);
        }
    }
    
    &__social-icon {
        fill: var(--global-white-color);
    }
    
    &__form {
        @media screen and (min-width:1200px) {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 12px;
        }
    }
    
    &__subscription {
        @media screen and (min-width:1200px) {
            margin-left: 93px;            
        }
    }

    &__subscription-header {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-white-color);
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            text-align: left;  
            
        }
    }
  
    &__input {
        display: block;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 450px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: #2F303A;
        padding: 16px;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.03em;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);

        @media screen and (min-width: 1200px) {
            width: 358px;
            margin-bottom: 0px;
        }
    }
    
    &__input[placeholder] {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.03em;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
    }
    
    &__subscription-button {
        margin-right: auto;
        margin-left: auto;
        display: flex;
        gap: 10px;
        align-items: center;
        min-width: 200px;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px 28px;
        cursor: pointer;
        font-family: Roboto;
        background-color: var(--accent-color);
        color: var(--global-white-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: #188CE8;
        }
    }
    

    
    &__svg-subscription {
        fill: var(--global-white-color);
        width: 24px;
        height: 24px;
    }
}


