/* TEAM */

.team {
    background-color:#F5F4FA;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


    &__title {
        margin-top: 0px;
        margin-bottom: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: var(--title-text-color);
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.17;
            margin-bottom: 50px;
        }
    }
    
    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap
    }

    
    &__item {
        background-color: var(--global-white-color);
        text-align: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        max-width: 450px;
        flex-basis: 100%;
        
        @media (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }

        @media (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 4);
        }
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  
    &__people-title {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }
    
    &__position-title {
        margin-bottom: 16px;
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    
    &__position-people {
        padding-top: 30px;
        padding-bottom: 30px;
    
    }
    
    &__social-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

