.form-checkbox {
    
    &__label-policy {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        position: relative;
        padding-left: 23px;

        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }
    
    &__contract-link {
        text-decoration: underline;
        color: var(--accent-color);
    }
    
    &__checkbox {
        appearance: none;
        margin: 0px;
    }
    
    &__checkbox-icon {
        box-sizing: border-box;
        width: 16px;
        height: 15px;
        border: 2px solid var(--title-text-color);
        border-radius: 2px;
        fill: transparent;
        position: absolute;
    }
    
    &__checkbox:checked + &__checkbox-icon {
        fill: var(--global-white-color);
        background-color: var(--accent-color);
        border: var(--accent-color);
    }
    
}



