.form-submit {
    cursor: pointer;
    padding: 10px 52px;
    border-radius: 4px;
    border: 0;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--global-white-color);

    &-button {
        display: flex;
        justify-content: center;
    }
            &:hover, 
            &:focus {
                background-color: #188CE8;
        }
    
}





