.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
            margin-top: 0px;
            margin-bottom: 0px;
        }


    &__span {
        color: var(--accent-color);
    }
}

