.social__item {
    width: 44px;
    height: 44px;
}

.social__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    fill: var(--logo-color);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    &:hover,
    &:focus
     {
        border-radius: 50%;
        background-color: var(--accent-color);
        fill: var(--global-white-color);
    }

} 

